<template>
  <div class="card">
    <!-- <img v-if="album.images.length" :src="album.images[0].url" class="card-img-top" />
    <img v-if="!album.images.length" src="http://place-hoff.com/300/300" class="card-img-top" /> -->
    
    <img :src="image" class="card-img-top" />
    
    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Album } from '@/models/Album';

@Component({})
export default class AlbumCard extends Vue {
  @Prop({}) album!: Album;

  get image(){
    return this.album.images.length? this.album.images[0].url : 'http://place-hoff.com/300/300'
  }
}
</script>
