<template>
  <!-- .list-group>.list-group-item -->
  <div class="list-group">
    <div
      class="list-group-item"
      :class="{
        active: selected && playlist.id == selected.id
      }"
      v-for="(playlist,index) of items"
      :key="playlist.id"
      @click.self="select(playlist,$event)"
    >{{index+1}}. {{playlist.name}}  
    <!-- <span class="close" @click.stop="">&times;</span> -->
    </div>
    <!-- <div v-for="i in 5" :key="i">{{i}}</div> -->
  </div>
</template>

<script lang="ts">
// import Vue from "vue";
// import Component from "vue-class-component";
import { Playlist } from "@/models/Playlist";
import { Prop, Vue, Component } from "vue-property-decorator";

@Component({
  // props:['items']
  //   props: {
  //     items: {
  //       validator(v) {
  //         return false;
  //       }
  //       // default:[],
  //       // required: true
  //     }
  //   }
})
export default class ItemsList extends Vue {
  @Prop({})
  items!: Playlist[];

  @Prop({})
  selected!: Playlist | null;

  select(selected: Playlist, event: MouseEvent) {
    this.$emit("selected", selected);
    // @selected="select($event)"
  }
}

type OptionalPlaylist = Playlist | null;
type Nullable<T> = T | null;
</script>

