<template>
  <div>
    <!-- <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" v-model="draft.name" />
    </div>-->

    <FormField label="Name" :value="draft.name" #default="{value}">
      <input type="text" class="form-control" v-model="draft.name"/>
    </FormField>

    <!-- <div class="form-group">
      <label>Favorite:</label>
      <input type="checkbox" v-model="draft.favorite" />
    </div> -->

    <FormField label="Favorite" :value="draft.favorite" v-slot="{value}">
      <input type="checkbox" v-model="draft.favorite"/>
    </FormField>


    <div class="form-group">
      <label>Color</label>
      <input type="color" v-model="draft.color" />
    </div>

    <input type="button" value="Cancel" class="btn btn-danger" @click="cancel" />
    <input type="button" value="Save" class="btn btn-success" @click="save" />
  </div>
</template>

<script lang="ts">
import { Playlist } from "@/models/Playlist";
import { Prop, Component, Vue, Watch } from "vue-property-decorator";

@Component({
  // watch: {
  //   playlist: {
  //     handler: function(this: PlaylistForm, newValue: Playlist) {
  //       this.draft = { ...newValue };
  //     },
  //     deep: true,
  //     immediate: true
  //   }
  // }
})
export default class PlaylistForm extends Vue {
  @Prop({})
  playlist!: Playlist;
  draft: Playlist | null = null;

  @Watch("playlist", {
    // deep:true,
    immediate: true
  })
  onPlaylistChange(newValue: Playlist) {
    this.draft = { ...this.playlist };
  }

  cancel() {
    this.$emit("cancel");
  }

  save() {
    this.$emit("save", this.draft);
  }
}
</script>

